.projectPage{
    margin: 0 auto;
    background-color: #2f3136 !important;
    height: 80vh;
}

.projectHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.projectName{
    font-weight: lighter;
    font-size: 25px;
}

.linkContainer{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.linkContainer .siteIcon:hover, .linkContainer .githubIcon:hover{
    opacity: 0.5;
}

.projectDesc{
    padding: 0px 20px;
}

.projectTools ul{
    display: flex;
    gap: 5px;
    padding: 20px;
    flex-wrap: wrap;
}
