* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Inter', sans-serif;
    z-index: 10;
}

body{
    background-color: #40444b;
}

ul{
    list-style: none;
}

@media (max-width: 768px) {
    .outerBack, .outerBack2{
        width: 95%; /* Adjusts to full width for mobile */
    }
}
